<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Informações</h1>
        <div class="buttons">
          <button class="button button-clear" ng-click="closeModalFarmacia()"><i class="ion-close-circled"></i>Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <label class="item">
            Endereço: {{objAtual.endereco}}
        </label>
        <label class="item">
            Horário de Atendimento: {{objAtual.endereco}}
        </label>
        <label class="item">
          <button class="button button-block button-positive"   ng-click="closeModalFarmacia()"type="submit">Fechar</button>
        </label>
    </ion-content>
    
</ion-modal-view>
